<div style="text-align: center;">
  <div style="margin: 0 auto;">
    <img style="width: 10%; height: 10%; margin-top: 10px;" src="https://www.ifm.eng.cam.ac.uk/uploads/Resources/L_image_customer-experience_Icon_online_grey.png">
  </div>
</div>
<div class="container mt-5 mb-3 text-center">
    <div *ngIf="!cartDetails[0]"><b><h1>Cart is Empty</h1></b></div>
    <b><h1 style=" background-color: rgb(170, 201, 244); border-radius: 3px; border: solid 1px; border-color: rgb(41, 38, 109);"> Cart Of : {{cartDetails[0].user.userName}}</h1></b>
</div>
<div class="container mt-5">
    <div class="mb-3 text-center" >
        <button *ngIf="cartDetails" mat-raised-button color="primary" (click)="checkout()">
            Checkout
        </button>
    </div>
    <table mat-table [dataSource]="cartDetails" class="mat-elevation-z8" >
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productDescription}} </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productActualPrice}} </td>
          </ng-container>
          <ng-container matColumnDef="Discounted Price">
            <th mat-header-cell *matHeaderCellDef> Discounted Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productDiscountedPrice}} </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="warn" (click)="delete(element.cartId)">
                Delete
            </button>    
            </td>
          </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

